/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color: orange
}
@media (max-width: 480px){
    .container{
        background-color: #ADD8E6;
    }
}
.cabecalho{
    background-color: #76AD7E;
    text-align: center;
}
.tituloPrincipal{
    color:whitesmoke;
    font-weight: bold;
    font-size: 32px;
}
.subTitulo{
    color: rgb(138, 99, 28)
}
.conteudo{
    background-color: black;
    color: red;
}
.conteudo > p{
    color: #E4005A;
    font-size: 42px;
}
.conteudo > p:nth-child(4){
    color: purple;
    font-variant-position: sub;
}
